.teclaLiberada {
    background-color: rgb(233, 141, 202);  
}
.teclaPresionada {
    background-color: rgb(228, 23, 159);
    transform: rotate(180deg);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0vh 1vh 0vh;

}
.letras {
    padding-top: 2vh;
    width: 10vh;
    margin: 0;
    border: 0.2em solid black;
    margin: 60vh 2vh 20vh;    
}

body {
    background-image: url(images/descarga.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: 0;
}
.teclaLiberada:hover{
    border:  solid pink;
}
.letras div:first-child{
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: white;
    font-family: fantasy;
   
}
.letras div:last-child{
    text-align: center;
    font-size: 0.8em;
    color:rgb(211, 47, 83);
    font-weight: 180;
    text-transform: uppercase;
    font-family: fantasy;
}
