li {
	display: inline-block;
	padding: 2%;
	font-size: 1em;
	font-family: cursive;
	color: gray;
	float: right;
	margin: 0 auto;
}
#contenedorLupa {
	height: 25px;
	width: 25px;
	background-image: url("Images/lupa2.svg");
	background-size: cover;
	padding: 0%;
}
.textoImagenes {
	border: 1px solid black;
	width: 100px;
	background-color: white;
	font-size: 0.8em;
	padding: 5vh 2vh 5vh 6vh;
    margin: -15% -8% -8% 26%;
	position: absolute;
	z-index: 2;
}
.textoImagen {
	border: 1px solid black;
	width: 100px;
	background-color: white;
	font-size: 0.8em;
	padding: 5vh 2vh 5vh 6vh;
    margin: -12% -8% -8% 30%;
	position: absolute;
	z-index: 2;
}
.imagenes {
	height: 200px;
}
#ciudad {
	right: 14vh;
	top: 7%;
	position: absolute;
}
#comida {
	left: 79vh;
	top: 7%;
	position: absolute;
}
#puente {
	top: 7%;
	left: 14vh;
	position: absolute;
}
div.lineaSeccion{
	width: 6em;
	border: 1px solid black;
	margin: 0 auto;
	position: absolute;
	left: 38%;
	bottom: -5%;
	z-index: 3;
}
div.lineasSeccion{
	width: 6em;
	border: 1px solid black;
	margin: 0 auto;
	position: absolute;
	left: 35%;
	bottom: -5%;
	z-index: 3;
}
#SeccionPrincipal {
	background-color: #F2F2F2 ;
	width: 220vh;
	height: 290px;
	margin-bottom: 3%;
	display: inline-block;
	position: relative;
}
#imagenAmsterdam {
	height: 300px;
	padding: 0%;
	margin: 0%;
}
.SeccionAms p{
	margin: 10%;
}
h1 {
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
	color: grey;
}
.SeccionAms {
	background-color:#F2F2F2;
	float: left;
	width: 50%;
	font-size: 13px;
	height: 600px;
	margin: 4% 0% 4% 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
aside {
	float: right;
	width: 20%;
	margin-right: 3%;
	margin-top: 3%;
}
#imagenCarla {
	height: 180px;
	padding-left: 10%;
	margin-top: 15%;
}
h2 {
	margin: 0 auto;
	padding-left: 20%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
	color:grey;
	line-height: 25px;
}
div.lineaAside {
	width: 100px;
	border: 0.5px solid grey;
	margin-left: 15%;
}
#presentacion {
	font-size: 11px;
	color: gray;
	font-family: 'Times New Roman', Times, serif;
}
.contacto{
	font-size: 15px;
	color: lightslategray;
	font-family: 'Times New Roman', Times, serif;
	margin: 3%;
	border-radius: 5px;
	border-color: lightgrey;
}
#Contacto {
	font-size: 15px;
	color:  gray;
	font-family: 'Times New Roman', Times, serif;
	padding-left: 18%;
	margin-bottom: 5%;
}
footer {
	position: relative;
}
#pieDePagina {
	position: absolute;
	text-align: center;
	height: 150px;
	background-color: lightslategray;
	bottom: -920px;
	width: 100%;
	color: aliceblue;
	font-family: 'Times New Roman', Times, serif;
	font-size: 15px;
}

button {
	margin: 3%;
	width: 180px;
	height: 40px;
	background-color: lightslategray;
	font-size: 15px;
	font-family: 'Times New Roman', Times, serif;
	color: aliceblue;
	border-radius: 5px;
	border-color:  lightslategray;
}

@media screen and (min-width: 320px) and (max-width: 767px){
	
	ul {
		display: flex;
		justify-content: center;
		flex-direction: row-reverse;
	}
	#SeccionPrincipal {
		width: 100%;
		height: 155vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 10vh;
	}
	.imagenes {
		height: 12em;
	}
	.textoImagenes {
		width: 10em;
		padding: 3em 0em 4em 0.5em;
		margin: 26vh -8vh -8vh 0vh;
		position: absolute;
		z-index: 2;
	}
	.textoImagen {
		width: 10em;
		padding: 3em 0em 4em 0.5em;
		margin: 26vh -8vh -8vh 0vh;
		position: absolute;
		z-index: 2;
	}
	article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		float: none;
		width: 100%;
		margin: 0 auto;
	}
	#imagenCarla {
		height: 40vh;
		padding: 0%;
		margin-top: 5%;
	}
	h1 {
		padding: 0%;
	}
	h2 {
		padding: 0%;
	}
	div.lineaAside {
		margin: 0%;
	}
	.SeccionAms {
		margin: 2%;
		padding: 0%;
		padding-top: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	#pieDePagina {
		bottom: 5%;
		position: initial;
	}
	.SeccionAms p{
		margin: 10vh;
	}
	#imagenAmsterdam {
		height: 18em;
	}
	article {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#SeccionPrincipal div{
		position: inherit;
		margin-bottom: 10vh;
		text-align: center;
		left: 0%;
		right: 0%;
		display: flex;
		flex-direction: column;
		align-items: center;
		bottom: -4vh;
	}
}